/**
 * Edit row component
 */

.edit-row
  width 100%
  box-sizing border-box
  border-bottom 1px solid $border
  overflow hidden
  padding 70px 0px

  &.no-border
    border none

  &.margin-top-big
    margin-top 88px

  .container
    width 840px
    margin 0 auto

  .part-2
    float left
    width 50%
    box-sizing border-box
    padding 0 30px

    &:first-child
      border-right 1px solid $border

    &.no-border
      border none

    &.border-left
      border-left 1px solid $border

    &.padding-bottom
      padding-bottom 10px
