
footer
  position relative
  height 70px
  background #e0e0e0
  font-size 14px
  box-sizing border-box
  padding 27px 30px

  &.sidebar
    padding-left 290px

    &:before
      content ''
      display block
      height 70px
      width 260px
      position absolute
      top 0
      left 0
      background #37474f

  p
    margin 0

  a
    color $blue
