/**
 * Static form pages
 */

.static
  background #f5f5f5
  padding-top 75px
  padding-bottom 20px

  h1
    font-size 30px
    text-align center
    font-family $fontExo
    font-weight 400
    font-style italic
    margin 0
    margin-bottom 10px

    strong
      font-weight 700

  p

    &.small
      font-size 12px

    &.center
      text-align center

    a
      color $blue

      &:hover
        text-decoration underline
