.user-box
  position relative
  display block
  float left
  width 220px
  height 220px
  background #fff
  box-shadow 2px 2px 6px rgba(0, 0, 0, .15)
  margin-right 40px
  margin-bottom 40px
  transition box-shadow 200ms
  text-align center
  box-sizing border-box
  padding 30px 10px

  &:hover
    box-shadow 2px 2px 8px rgba(0, 0, 0, .2)

  img
    display block
    width 100px
    height 100px
    margin 0 auto
    margin-bottom 15px
    border-radius 50%

.user-box__small-text
  display block
  font-size 14px
  color #a1b1c2

.user-box__big-text
  display block
  font-size 18px
  color #37474f

.user-box__coach-label
  position absolute
  top 10px
  right -10px
  display inline-block
  text-transform uppercase
  color #fff
  background #e9448d
  padding 0 10px
  font-size 12px
  font-weight 400
  margin-top 0
  margin-left 25px
