/**
 * Helper styles.
 */

.center
  text-align center

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.textLimiter
  display block
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.margin-top-big
  margin-top 70px

.float-left
  float left

.float-right
  float right

.absolute-right
  position absolute
  top 0
  right 10px
