/**
 * Variables file.
 */

// Colors
$blue = #0083e9
$grey = #37474f
$black = #252525
$pink = #f9669a
$green = #01bfa5
$fb = #3b5a94
$border = #cfd8dc;

// HR retro colors
$hr1 = #29eb7b;
$hr2 = #b1ff7a;
$hr3 = #ffef7a;
$hr4 = #fa8e7a;
$hr5 = #e1377a;

$fontBasic = 'Open Sans', sans-serif
$fontExo = 'Exo', sans-serif
