extends ../layout

block content
  h1 Edit user password
  
  if message == 'currKO'
    div.alert-msg.ko
      p <strong>WHOOOP!</strong> Hesla sa nezhoduju.
  
  if message == 'futureKO'
    div.alert-msg.ko
      p <strong>WHOOOP!</strong> Hesla sa nezhoduju.

  div.local
    form(action='/profile/edit/password' method='POST')
      
      label Current password:  
      input(type='password' name='password[current]')
      br
      br
      label New password:  
      input(type='password' name='password[new]')
      br
      br
      label New password again:  
      input(type='password' name='password[newAgain]')
      br
      br
      button.btn.btn-success(type='submit') Uložiť
